#img_container1{
    margin: auto auto;
    display: block;
    width: 200px;
    height: auto;
    margin-top: 50px;
   
}

* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
  }
  .cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
  }
  #ikj5vv{
    height:263px;
  }
  #i0m5ij{
    flex-basis:1%;
  }
  @media (max-width: 768px){
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
  }

  
#text1{
    text-align: center;
}
.border-image{
    border:none;
    width: 100%;
}

.table {
    display: table;
    border-color:red;
    width:100%;
  }
  .tr {
    display: table-row;
    width: 100px;
    
  }
  .th {
    float: left;
    display: table-cell;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
  }
  .td {
    float: left;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    border: 1px solid black;
    height: 50px;
    text-align: center;
    margin-top:1px;
    
  }
  #text_center{
    float:center;
  }

  .button1{
    width: 30%;
    height: 10%;
    background-color:#3b5998;
    border-color:#516fb1;
    border-radius: 30px;
    color:#f7f7f7;
    font-size:20px;
    text-shadow: 0.1em 0.1em #333;
    margin:auto;
    display:block;

  }

  .tr1{
    border:none;
    background-color:#3b5998;
    color:white;
  }
  .td1{
    border:none;
    background-color:#dfe3ee;
  }

  .container_table{
    width:95%;
    border:3px solid #d4d6dd;
    position:center;
  }
